@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #979797;
  font: 1000 16px/1.6 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 1em;
  text-align: center;
}

.gameSurround {
	border: 1px #979797 solid;
	display: inline-block;
	height: auto;
	margin: 0 auto;
	padding: 36px 16px;
	width: 586px;
}
 
 